* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border: none;
}
button:hover{
  cursor: pointer;
}
ul{
  list-style: none;
}
body{
  background-color: #fafafa;
}
.main{
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  height: 100%;
  margin-top: 90px;  
  }